.app {
  height: 100%;
  width: 100%;
  overflow: auto;

  .appContent {
    margin-top: 77px;
  }

  .mainWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .main {
      margin-right: 296px;
      height: 100%;
    }
  }
}
