.app {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .topPart {
    display: flex;
    min-height: 100vh;
  }

  .rightSide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250 252 251);
  }

  .disappear {
    display: none;
  }

  .mainWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .main {
      height: 100%;
    }
  }
}
